
.home{
  background-color:#1ed6bb;
  width:100%;
  max-width: 100%;
  height: 100%;
   
}

.hello{
  font-size:30px;
}

.home_container{
  width: 100%;
  max-width: 100%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}


  .img_cont{
    max-width: 40%;
    height: 400px;
    padding: 0 20px;
    display: flex;
    text-align: center;
    justify-content: flex;
  }
  
  .img_cover{
   max-width: 400px;
 }


  .home_img{
    height:100%;
    width: 100%;
  }

.nameDetails{
  padding: 0 20px;
  max-width:60%;
  /* flex: none; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
}

.nameDetails  h1{
font-family:"Open Sans";
font-size: 120px;
line-height:110px;
text-align: left;
margin: 0;
padding: 0;
}

.nameDetails > p{
  font-size:22px;  
  text-align: left;
}


  @media(max-width:576px){
    .home_container{
    padding-top:15%;
    }
.nameDetails h1{
  font-size: 70px;
  line-height: 70px;
}

.nameDetails{
  height: 50%;
}
.home_cover{
max-width:200px;
}

.home_img{
  height:70%;
  width: 100%;
}

 }


 @media(max-width:790px){
   .home_container{
    padding-top:15%;
     display:flex;
     flex-direction: column;
   }
  .nameDetails h1{
    font-size: 70px;
    line-height: 70px;
  }
  
  .nameDetails{
    height: 50%;
  }


  .home_cover{
  max-width:200px;
  }
  
  .home_img{
    height:70%;
    width: 100%;
  }
  
   }


 @media(max-width:768px){
   .home_container{
    padding-top:15%;
   }
  .nameDetails h1{
    font-size: 70px;
    line-height: 70px;
  }
  
  .nameDetails{
    height: 50%;
  }
  .home_cover{
  max-width:200px;
  }
  
  .home_img{
    height:70%;
    width: 100%;
  }  
 }


 @media(max-width:800px){
  .home_container{
    padding-top:15%;
   }
   .home_container{
     display:flex;
     flex-direction: column;
   }
  .nameDetails h1{
    font-size: 70px;
    line-height: 70px;
  }
  
  .nameDetails{
    height: 50%;
  }
  .home_cover{
  max-width:200px;
  }
  
  .home_img{
    height:70%;
    width: 100%;
  }
     
 }

 @media(min-width:960px){
   .home_container{
    padding-top:15%; 
   }
  .nameDetails h1{
    font-size: 80px;
    line-height: 70px;
  }
  .home_img{
    height:70%;
    width: 100%;
  }
 }

 @media(min-width:772px){
  .nameDetails h1{
    font-size: 80px;
    line-height: 70px;
  }
  .home_img{
    height:70%;
    width: 100%;
  }
 }